* {
    padding: 0;
    margin: 0;
}

nav {
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    font-size: 17px;
}

#kanjiLists {
    height: 40px;
    width: 90px;
    font-size: 15px;
    background-color: rgb(90, 90, 90);
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-Items {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: slategray;
    z-index: 1;
}

.dropdown-Items a {
    color: white;
    cursor: pointer;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-Items a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-Items{
    display: block;
}

#main {
    text-align: center;
    background-color: salmon;
}

#start {
    height: 25px;
    width: 100px;
    margin-top: 25px;
}


#words {
    height: 400px;
    background-color: rosybrown;
}

h2 {
    padding-top: 200px;
}

input {
    margin-top: 20px;
    width: 240px;
    height: 30px;
    text-align: center;
}

#results {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#right {
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#wrong {
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

i {
    padding-top: 11px;
}

#contour {
    display: flex;    
    border: solid 3px black;
    width: 400px;
    height: 25px;
    text-align: center;
    margin-top: 20px;
}

#canvas1 {
    width: 0%;
    height: 21px;
    background-color: green;
    margin-top: 2px;
}

#canvas2 {
    width: 0%;
    height: 21px;
    background-color: red;
    margin-top: 2px;
}
